<h1>FINISHED!</h1>
<p>
   You've mastered the basics of Ruby, you're on the right track! <br>
________________________<br>

YOU WIN<br>
+100 experience (xp)+ 200 golds (g)<br>

BONUS first attempt:+ 130 golds (g)
</p>
