<div class="background-first background-fixed">

  <div class="top_card d-flex justify-content-center align-items-end">
    <p>TRAINING</p>
  </div>
  <div class="mission-container">
    <div class="missions">
      <% @trainings.each_with_index do |training, index| %>
        <%= link_to training, class:"mission-todo" do %>
          <div class="mission-frame">
            <h2>> MISSION <%= index + 1 %></h2>
            <p>>  <%=  training.subcategory.category.name + ' - ' + training.subcategory.name %></p>
          </div>
        <% end %>
      <% end %>

      <% @Locked_missions_count.times do %>
        <div class="mission-frame mission-locked">
          <h2>> MISSION LOCKED</h2>
          <p>>  LOCKED</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
