<%# <%=turbo_frame_tag  :popup_shop do %>
<%#   <div class="popup"> %>
  <%#   <p><%= @content %><%# </p>  %>

    <%#
    - mettre la roue qui tourne
    - mettre l'explosion
    - faire fondu entre les deux images
    - faire son de l'explosion
    - ajouter item l'item qui a été choisi
    %>


      <!-- Lien qui renvoie à l'index ou à une autre page -->
  <%#     <%= link_to "BACK X", shops_path, data: { turbo_frame: "popup_shop" } %>
<%#   </div> %>
<%# <% end %>
