.background-style {
  background-image: image-url('splashscreen2');
  background-size: cover;
  background-position: center;
  background-size: 170%;
  width: 100wh;
  height: 100vh;
  position: relative;
  h2 {
    color: #F98707;
  }
}

.duelcenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
