.welcome {
  width: 100vw;
  height: 100vh;
  background-image: url("splashscreen.png");
  background-size: cover;
  background-position: center;
  animation: neon 6s cubic-bezier(.64,-0.53,.42,.98);
}

@keyframes neon {
  0%, 26%, 36%, 56%, 64%, 72%, 80%,
  82%, 84%, 86%, 88%, 90%, 92%, 100% {
    background-image: url("background-profile.png");
  }
  27%, 35%,
  41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%,
  61%, 65%, 67%, 69%, 71%, 73%, 79%,
  81%, 85%, 89% {
    background-image: url("splashscreen.png");
  }
}
