<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="display: block;">
  <div class="container-fluid">
      <%= link_to home_path, class: "navbar-brand" do %>
        <div class="icone">
          <i class="fa-solid fa-house fa-xl my-3" style="color: #ffffff;"></i>
          <p>HOME</p>
        </div>
      <% end %>

      <%= link_to shops_path, class: "navbar-brand" do %>
        <div class="icone">
          <i class="fa-solid fa-campground fa-xl my-3" style="color: #ffffff;"></i>
          <p>SHOP</p>
        </div>
      <% end %>

      <%= link_to users_rank_path(@user), class: "navbar-brand" do %>
        <div class="icone">
          <i class="fa-solid fa-ranking-star fa-xl my-3" style="color: #ffffff;"></i>
          <p>RANK</p>
        </div>
      <% end %>

      <%= link_to profil_users_path(), class: "navbar-brand" do %>
        <div class="icone">
          <i class="fa-solid fa-user fa-xl my-3 my-3" style="color: #ffffff;"></i>
          <p>PROFIL</p>
        </div>
      <% end %>
    </div>
</div>
