<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-around">
      <%= link_to 'home', class: "navbar-brand" do %>
        <div class="icone">
          <i class="fa-solid fa-house fa-xl my-3" style="color: #ffffff;"></i>
          <p>HOME</p>
        </div>
      <% end %>

      <%= link_to "shop", class: "navbar-brand" do %>
        <div class="icone">
          <i class="fa-solid fa-shop fa-xl my-3" style="color: #ffffff;"></i>
          <p>SHOP</p>
        </div>
      <% end %>

      <%= link_to "#", class: "navbar-brand" do %>
        <div class="icone">
          <i class="fa-solid fa-ranking-star fa-xl my-3" style="color: #ffffff;"></i>
          <p>RANKING</p>
        </div>
      <% end %>

      <%= link_to "#", class: "navbar-brand" do %>
        <div class="icone">
          <i class="fa-solid fa-user fa-xl my-3 my-3" style="color: #ffffff;"></i>
          <p>PROFIL</p>
        </div>
      <% end %>
    </div>
</div>
