.answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);

  .answer {
    background-color: black;
    border: 1px solid #025470;
    border-radius: 4px;
    width: 164px;
    height: 100px;
    text-align: center;

    .text-blue {
      color: #A9DBFB;
      text-decoration: none;
    }
  }

}
