/* Background training shop duel  */

.background-first {
  background-image: image-url('background.png');
  background-size: cover;
  background-position: center;
  background-size: 220%;
  width: 100wh;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
