.btn-orange-shop {
  background-color: #E66E04;
  height: 53px;
  width: 80vw;
  border-radius: 8px;
  padding: 8px;
  font-family: "Bungee", sans-serif;
}

.btn-blue-shop {
  background-color: #0A3543;
  height: 53px;
  width: 80vw;
  border-radius: 8px;
  padding: 8px;
  font-family: "Bungee", sans-serif;
}
