.btn-blue {
  background-color: #036D91;
  width: 231px;
  border-radius: 8px;
  text-align: center;
  padding: 12px 24px 12px 24px;
  width: 231px;
  margin-left: auto;
  margin-right: auto;

  p {
    color: #EDFEFE;
    text-decoration: none;
    font-size: 24px;
  }
}

.btn-orange-small {
  background-color: #E66E04;
  border-radius: 8px;
  text-align: center;
  padding: 12px 24px 12px 24px;
  width: 161px;
  margin-left: auto;
  margin-right: auto;

  .text-properties {
    color: #EDFEFE;
    text-decoration: none;
    font-size: 24px;
  }
}
