.swiper-content {
  font-size : 22px;
  padding: 16px;
}

.swiper-pagination-bullet {
  background: white !important;

  &.swiper-pagination-bullet-active {
    background: #E66E04 !important;
  }
}

.margin {
  margin-bottom: 12px;
}
