.duel-nav-bar-container {
  margin-top: 125px;
  padding-bottom: 52px;
  width: 325px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  background-color: #025470;
  border-radius: 8px;
}

.duel-nav-bar {
  width: 99px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.text-white {
  color: white;
  text-decoration: none;
}

.scontainer{
  display: flex;
  flex-direction: column;
}
