.duel-nav-bar-container {
  margin-top: 125px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  background-color: #025470;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 324px;
}

.duel-nav-bar {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  border: 3px solid #025470;
  border-radius: 8px;
  &.active {
    background-color: #0282AD;
  }
}

.text-white {
  color: white;
  text-decoration: none;
}

.scontainer {
  display: flex;
  flex-direction: column;
}

.duel-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 54%;
  margin-top: 25px;
  padding-bottom: 52px;

  h2 {
    font-family: "Jersey 10", sans-serif;
  }
}
