.mission-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 80%;
  margin-top: 125px;
  padding-bottom: 52px;
  h2{
    font-family : "Orange Kid";
  }

}

.mission-container::-webkit-scrollbar {
  display: none;
}

.mission-frame {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #025470;
  width: 324px;
  height: 120px;
  margin: 0px auto 18px auto;
  padding: 20px;
  p{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.mission-locked {
  color: #025470;
}

.mission-finished {
  color: #0F6513;
  text-decoration: none;
}

.mission-todo {
  color: #10E711;
  text-decoration: none;
}
