.popup {
  margin-left: auto;
  margin-right: auto;
  background: black;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #025470;
  width: 342px;;
  /* Largeur relative à la taille de l'écran */
  max-width: 600px;
  /* Largeur maximale */
  max-height: 80vh;
  /* Hauteur maximale (80% de la hauteur de la fenêtre) */
  overflow-y: auto;

  /* Ajoute un défilement si le contenu dépasse la hauteur max */
  // z-index: 1; /* set higher z-index value */
  // position: relative; /* position must be set for z-index to work */
  p,
  h3 {
    color: #10E711;
    font-family: "Jersey 10", sans-serif;
  }

  p{
    font-size: 20px;
  }

  h3{
    font-size: 28px;
  }

}

.top {
  margin-top: 80px;
  margin-bottom: 10px;
}

.blur {
  background-image: image-url('blur2.png');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

// .image-shop{
//   width: 20px;
//   height: 20px ;
// }
