.question {
  border-radius: 8px;
  border: 2px solid #025470;
  width: 342px;
  background-color: black;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  word-wrap: break-word;
  z-index: 1;
  font-family: "Jersey 10", sans-serif;

  // PIPBOY EFFECT
  animation:colorPulse 5s infinite ease-in-out;
  background-image:radial-gradient(#444, #111);
  box-shadow:0 0 5vmin 1vmin #000 inset;
  box-sizing:border-box;
  position: relative;
  overflow: hidden;

  &:before {
    animation:wave 8s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
  }

  &:after {
    background-image:linear-gradient(transparent, transparent 3px, #22222239);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }

  p:last-child:after {
    animation:blink 1s infinite;
    content:"_";
  }

  p#no_:last-child:after {
    content: "";
    animation: none;
    padding: 0px;
  }

  h2,
  p,
  h1 {
    color: #10E711;
    font-family: "Jersey 10", sans-serif;
  }

  p
{
  font-size: 22px;
  font-family: "Jersey 10", sans-serif;
}
}

#avancement {
  color: #A9DBFB;
  position: absolute;
  top: 435px;
  right: 35px;
}

@keyframes colorPulse {
  0%, 100% {
    color:#0c0;
  }
  48%, 52% {
    color:#090;
  }
  50% {
    color:#060;
  }
}

@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #0c0;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #090;
  }
  50% {
    box-shadow:0 -10vh 20vh #060;
  }
  100% {
    box-shadow:0 -10vh 20vh #0c0;
    top:200vh;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}

.question-fix{
  height: 32vh;
}

.question-answer{
  height: 50vh;
}

.question-score{
  p{
    margin-bottom: 0px;
    font-size: 24px;
  }
}

.question-duel{
  top: 110px;
}

#hacked-msg {
  display: flex;
  justify-content: center; /* Centering Horizantly */
  align-items: center;
  p{
    position: absolute;
    top: 400px;
    font-size: 36px;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    color: rgba(16,231,17,0.4);
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
	0% {
		transform: scale(1);
    color: rgba(16,231,17,0.5);
	}

	50% {
		transform: scale(0.98);
    color: rgba(16,231,17,0.2);
	}

	100% {
		transform: scale(1);
    color: rgba(16,231,17,0.5);
	}
}

#question-padding{
  p{
    padding:0px;
    margin: 10px;
  }
}
