// .top_card_shop {
//   background-color: #025470;
//   width: 226px;
//   height: 101px;
//   border-radius: 0px 0px 8px 8px;
//   border: 2px solid #025470;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);

//   p {
//     color: white;
//     font-size: 24px;
//   }

//   h1{
//     font-family: "Jersey 10", sans-serif;
//   }
// }

// .top-shop {
//   padding-top: 20px;
//   color: white;
//   font-size: 24px;
//   text-align: center;
//   border: 2px solid #025470;
//   h1 {
//     margin-bottom: 0;
//   }
// }


.top_card_shop {
  background-color: #025470;
  width: 226px;
  height: 90px;
  border-radius: 0px 0px 8px 8px;
  border: 2px solid #025470;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding-top: 10px;
  text-align: center;
  color: white;

  p {
    font-size: 24px;
  }

  h1{
    font-family: "Jersey 10", sans-serif;
    margin-bottom: 0;
  }
}








.btn-blue {
  background-color: #036D91;
  width: 231px;
  border-radius: 8px;
  text-align: center;
  p {color: white;
    font-family: "Bungee", sans-serif;
  }
  text-decoration: none; /* Supprime le soulignement doit être dans le lien a et pas p*/
}


.btn-orange-shop {
  background-color: #E66E04;
  width: 231px;
  border-radius: 8px;
  text-align: center;
  p {color: white;
    font-family: "Bungee", sans-serif;
  }
  text-decoration: none; /* Supprime le soulignement doit être dans le lien a et pas p*/

}











// .shop-card-top {
//   background-color: #025470;
//   width: 226px;
//   height: 130px;
//   border-radius: 0px 0px 8px 8px;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);

//   padding-top: 36px;
//   justify-content: center;
//   text-align: center;

//   h1,
//   p {
//     color: white;
//     font-size: 24px;
//     padding: 0px;
//     margin: 0px;
//   }
// }

// .shop-card-middle {
//   border-radius: 8px;
//   border: 2px solid #025470;
//   width: 342px;
//   height: 250px;
//   background-color: black;
//   position: absolute;
//   top: 180px;
//   left: 50%;
//   transform: translateX(-50%);
//   padding: 16px;
//   word-wrap: break-word;
//   z-index: 0;

//   h2,
//   p,
//   h1 {
//     color: #10E711;
//   }
// }


// .shop-card-bottom {
//   border-radius: 8px;
//   border: 2px solid #025470;
//   width: 342px;
//   background-color: black;
//   position: absolute;
//   top: 480px;
//   left: 50%;
//   transform: translateX(-50%);
//   padding: 16px;
//   word-wrap: break-word;
//   z-index: 0;

//   h2,
//   p,
//   h1 {
//     color: #10E711;
//   }
// }


// turbo-frame a {
//   text-decoration: none;
// }
