@keyframes slidein {

  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  30% {
    opacity: 1;
    transform: scale(1.5);
  }

  90% {
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.image-validation {
  animation: slidein 2s linear;
  position: absolute;
  z-index: 2;
  bottom: 280px;
  left: 48px;
}

.img {
  width: 320px;
}
