.wheel {
  animation: spin 1s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.explosion {
  position: absolute;
  /* top: 100px;
  left: 100px;  */
  opacity: 0;
  animation: none;
  width: 0;
  height: 0;
  z-index: 0;
  transition: opacity 1s ease-in-out;
}

@keyframes explode {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  90% {
    opacity: 1;
    transform: scale(2.5);
  }

  100% {
    transform: scale(0);
  }
}

.show-explosion {
  opacity: 1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  animation: explode 2s ease-in-out forwards;
  z-index: 3;
  /* transition: opacity 1s ease-in-out; */
}

/* .forground {
  position: absolute;
  z-index: 4;
} */



.invisible-link {
  visibility: hidden;
  /* Cache le lien mais garde son espace */
  pointer-events: none;
  /* Désactive le clic */
  text-decoration: none;
  /* Retire la décoration (soulignement) si visible */
  color: transparent;
  /* Rendre le texte transparent */
}
